html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#container {
    height: 100%;
}

.nov {
    position: absolute;
    right: 0;
    bottom: 50%;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}