html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#container {
    height: 100%;
}

.nov {
    position: absolute;
    right: 0;
    bottom: 50%;
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
a{
    text-decoration: none;
    color: #000;
}
ul > li > a:hover{
    color: #fff;
}
#lift{
    position: fixed;
    top: 50px;
    right: 20px;
    width: 100px;
    /*元素高度自适应*/
    background: #efefef;
    border: 1px solid #c9c9c9;
    border-radius: 5px; 
    text-align: center;
    font-size: 14px;
    line-height: 50px;/*行高*/
    cursor: pointer;/*鼠标样式(手指)*/
}
.item:hover{/*hover鼠标悬浮到指定位置时样式变化*/
    background: #00ccff;
    border-radius: 5px;
}